/* планшет */
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) {
}
/* телефон */
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  html {
    background-color: black;
    /* width: 100vw; */
    /* height: 166.5972vw;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .box-first-screen {
    width: 100vw;
    height: 187vw;
  }
  .img-arrow {
    width: 0;
    height: 0;
  }
  .arrows-2-box > img {
    width: 0;
    height: 0;
  }
  .dash-2 > img {
    position: absolute;
    width: 0;
    height: 0;
  }
  .logo-1 {
    width: 0;
    height: 0;
  }
  .logo-1 > svg {
    width: 0;
    height: 0;
  }
  .header-text {
    font-size: 6.17vw;
    width: 100vw;
    text-align: center;
  }
  .arrows-1-box {
    width: 0;
    height: 0;
  }
  .arrows-box {
    width: 0;
    height: 0;
  }
  .line-1,
  .line-2,
  .line-3 {
    width: 0;
    height: 0;
  }
  .arrows-2-box {
    width: 0vw;
  }
  .box-all-in {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 187vw;
  }
  .set {
    height: 67.2vw;
  }
  .window {
    height: 69vw;
    width: 98.16vw;
  }

  .first-screen {
    justify-content: center;
  }
  .welcome {
    width: 91vw;
  }
  .name {
    width: 91vw;
  }
  .characteristics {
    width: 91vw;
  }
  .further {
    width: 91.5vw;
  }
  .m-column > img {
    width: 85.636vw;
    height: 60.914vw;
  }
  .band {
    width: 0;
    height: 0;
  }
  .line-5 {
    width: 0;
    height: 0;
  }
  .arrow-box-5 > img {
    width: 0vw;
    height: 0vw;
  }
  .skelet-box {
    width: 98vw;
    height: 66.914vw;
  }
  .m-column > img {
    width: 83.636vw;
    height: 61.914vw;
  }
  .m-column {
    width: 83.636vw;
    height: 46.914vw;
  }
  .r-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 6.181vw;
    height: 34.914vw;
  } */
}
