.letter:hover {
  fill: aliceblue;
}
@keyframes arrow-1 {
  0% {
    width: 14vw;
  }
  50% {
    width: 9vw;
  }
  100% {
    width: 14vw;
  }
}

@keyframes arrow-2 {
  0% {
    width: 18.86vw;
  }
  50% {
    width: 23.86vw;
  }
  100% {
    width: 18.86vw;
  }
}
@keyframes arrow-2-2 {
  0% {
    width: 20.46vw;
  }
  50% {
    width: 25.46vw;
  }
  100% {
    width: 20.46vw;
  }
}
@keyframes arrow-3 {
  0% {
    width: 14vw;
  }
  50% {
    width: 9vw;
  }
  100% {
    width: 14vw;
  }
}
/* .b:hover {
  animation: 700ms linear 0s normal none infinite running cross-scanner;
} */
@keyframes arrow-4 {
  0% {
    width: 70vw;
  }
  50% {
    width: 75.69vw;
  }
  100% {
    width: 70vw;
  }
}
@keyframes arrow-44 {
  0% {
    width: 71.6vw;
  }
  50% {
    width: 77.29vw;
  }
  100% {
    width: 71.6vw;
  }
}
@keyframes arrow-5 {
  0% {
    width: 12.555vw;
  }
  50% {
    width: 23.3vw;
  }
  100% {
    width: 12.555vw;
  }
}
@keyframes arrow-55 {
  0% {
    width: 14, 155vw;
  }
  50% {
    width: 24.9vw;
  }
  100% {
    width: 14, 155vw;
  }
}
span:hover {
  fill: red;
  color: #4200ff;
}
.masked:hover {
  opacity: 100%;
}
.masked-1:hover {
  opacity: 100%;
}
.masked-2:hover {
  opacity: 100%;
}
.masked-3:hover {
  opacity: 100%;
}
.masked-4:hover {
  opacity: 100%;
}
.masked5:hover {
  opacity: 100%;
}
#nextButton:hover {
  background-color: #4200ff;
  /* border: 0.1vw solid #4200ff; */
}
/* box-shadow: 0px 0px 44px 0px rgba(0, 0, 255, 1); */
#prevButton:hover {
  background-color: #4200ff;
  /* border: 0.1vw solid #4200ff; */
}
