html {
  background-color: black;
}

.first-screen {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60.04vw;
  padding: 2.57vw;
  box-sizing: border-box;
}
.box-first-screen {
  width: 78.26vw;
}
.logo-1 > svg {
  width: 16.6vw;
  height: 54.03vw;
}
.arrows-1-box {
  display: flex;
  align-items: center;
}
.line-1 {
  width: 7vw;
  height: 0.1vw;
  background-color: aliceblue;
  animation: 1s linear 0s normal none infinite running arrow-1;
}
.line-2 {
  width: 7vw;
  height: 0.1vw;
  background-color: aliceblue;
  animation: 1s linear 0s normal none infinite running arrow-2;
}
.line-3 {
  width: 7vw;
  height: 0.1vw;
  background-color: aliceblue;
  animation: 1s linear 0s normal none infinite running arrow-3;
}
.arrows-1-box {
  display: flex;
  width: 75.69vw; /* width: 100vw; */

  justify-content: space-between;
}
.arrows-1-box > img {
  width: 0.8vw;
  height: 1vw;
}
.dash > img {
  width: 17vw;
  height: 0.3vw;
}
.arrow-number-1 {
  display: flex;
  align-items: center;
}
.arrow-number-2 {
  display: flex;
  align-items: center;
}
.arrow-number-3 {
  display: flex;
  align-items: center;
}
.arrows-box {
  display: flex;
  width: 57.16vw;
  justify-content: space-between;
}
/* .arrow-number-1,
.arrow-number-2,
.arrow-number-3 > img {
  width: 0.8vw;
  height: 1vw;
} */
img > .arrow-number-1 {
  width: 0.8vw;
  height: 1vw;
}
img > .arrow-number-2 {
  width: 0.8vw;
  height: 1vw;
}
img > .arrow-number-3 {
  width: 0.8vw;
  height: 1vw;
}
.header-text {
  font-family: Joystix;
  color: aliceblue;
  font-size: 4.17vw;
  text-align: right;
  width: 76vw;
}
.arrows-2-box {
  width: 75.69vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
img > .arrows-2-box {
  width: 0.8vw;
  height: 1vw;
}
.line-4 {
  width: 75.69vw;
  height: 0.1vw;
  background-color: aliceblue;
  animation: 1s linear 0s normal none infinite running arrow-4;
}
