html {
  background-color: black;
  /* width: 100vw; */
  height: 166.5972vw;
  background-image: url(../images/backg2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.first-screen {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* width: 100vw;
  height: 54.04vw; */
  /* padding: 1vw 2.57vw 2.57vw 2.57vw; */
  padding: 1vw 1.25vw 1.25vw 1.25vw;
  box-sizing: border-box;
  overflow: hidden;
}

.box-first-screen {
  width: 78.26vw;
}
.logo-1 > svg {
  width: 15.6vw;
  height: 50vw;
}
.arrows-1-box {
  display: flex;
  align-items: center;
}
.line-1 {
  width: 7vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-1;
}
.line-2 {
  width: 7vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-2;
}
.line-3 {
  width: 7vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-3;
}
.arrows-1-box {
  display: flex;
  width: 75.69vw; /* width: 100vw; */

  justify-content: space-between;
}
.img-arrow {
  width: 0.8vw;
  height: 1vw;
}
.dash {
  position: relative;
  display: flex;
}
.dash > img {
  width: 17vw;
  height: 0.3vw;
}
.arrow-number-1 {
  display: flex;
  align-items: center;
}
.arrow-number-2 {
  display: flex;
  align-items: center;
}
.arrow-number-3 {
  display: flex;
  align-items: center;
}
.arrows-box {
  display: flex;
  position: relative;
  width: 57.16vw;
  justify-content: space-between;
}
/* .arrow-number-1,
.arrow-number-2,
.arrow-number-3 > img {
  width: 0.8vw;
  height: 1vw;
} */
img > .arrow-number-1 {
  position: relative;
  width: 0.8vw;
  height: 1vw;
}
img > .arrow-number-2 {
  position: relative;

  width: 0.8vw;
  height: 1vw;
}
img > .arrow-number-3 {
  position: relative;

  width: 0.8vw;
  height: 1vw;
}
.header-text {
  font-family: Joystix;
  color: white;
  font-size: 4.17vw;
  text-align: right;
  width: 76vw;
}
.arrows-2-box {
  position: relative;
  width: 75.69vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows-2-box > img {
  width: 0.8vw;
  height: 1vw;
}
.line-4 {
  width: 75.69vw;
  height: 0.11vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-4;
}

.masked {
  position: absolute;
  background-color: #4200ff;
  width: 75.29vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-44;
}
.masked-1 {
  position: absolute;
  background-color: #4200ff;
  width: 15.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.masked-2 {
  position: absolute;
  background-color: #4200ff;
  width: 25.46vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-2-2;
}
.masked-3 {
  position: absolute;
  background-color: #4200ff;
  width: 18.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}
.welcome {
  width: 21vw;
  height: 11vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
}
.welcome-content {
  width: 100%;
  height: 9.51vw;
  padding: 1.5vw 1.1vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.welcome-content > p {
  font-size: 1.2vw;
  font-family: Joystix;
  color: white;
  line-height: 1.2vw;
}
.name {
  width: 21vw;
  height: 9vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
}
.name-content {
  height: 7.5vw;
  width: 100%;
  padding: 1.5vw 1.1vw;
  box-sizing: border-box;
}
.characteristics {
  width: 21vw;
  height: 11.5vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
}
.characteristics-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vw;
  padding: 1.5vw 1.1vw;
  box-sizing: border-box;
  justify-content: space-between;
}
.health > p {
  color: white;
  font-size: 1vw;
  font-family: Joystix;
  color: white;
  line-height: 1.2vw;
}
.power > p {
  color: white;
  font-size: 1vw;
  font-family: Joystix;
  color: white;
  line-height: 1.2vw;
}
.speed > p {
  color: white;
  font-size: 1vw;
  font-family: Joystix;
  color: white;
  line-height: 1.2vw;
}
.further {
  width: 21vw;
  height: 3.9vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
  background-color: #4200ff;
}
.further > p {
  font-size: 1vw;
  font-family: Joystix;
  color: white;
  line-height: 1.2vw;
}

.blue-top {
  display: flex;
  background-color: #4200ff;
  width: 100%;
  height: 1.6vw;
  border-bottom: 0.07vw white solid;
  align-items: center;
  padding: 0.56vw;
  box-sizing: border-box;
  justify-content: flex-end;
}
.blue-top > img {
  height: 1vw;
  width: 3vw;
}
.dash-2 {
  position: relative;
  height: 0.3vw;
  margin: 1.53vw 1.53vw 0 0;
}
.dash-2 > img {
  position: absolute;

  width: 19vw;
  height: 0.3vw;
}
.masked-4 {
  position: absolute;
  background-color: #4200ff;
  width: 19vw;
  height: 0.3vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.box-all-in {
  display: flex;
}
.window {
  height: 45vw;
  width: 58.16vw;
  display: flex;
  flex-direction: column;
  margin-top: 0.5vw;
}
.set {
  height: 41.2vw;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.arrow-box-5 > img {
  width: 0.8vw;
  height: 1vw;
}
.line-5 {
  width: 23.3vw;
  height: 0.11vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-5;
}
.arrow-box-5 {
  margin-left: 12.4vw;
  margin-top: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masked5 {
  position: absolute;
  background-color: #4200ff;
  width: 18.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-55;
}
.band {
  background-color: #4200ff;
  width: 51.717vw;
  height: 3.123vw;
  margin-left: 3.1vw;
  margin-top: 1vw;
}
.skelet-box {
  width: 58vw;
  height: 34.914vw;
  display: flex;
  justify-content: space-between;
}
#prevButton {
  background-color: white;
  border: 0;

  border-radius: 50%;
  height: 8.939vw;
  width: 4.688vw;
  /* margin-top: -8vw;
  margin-left: 1.5vw; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nextButton {
  background-color: white;
  border-radius: 50%;
  height: 8.939vw;
  width: 4.688vw;
  /* margin-top: -8vw;
  margin-right: 1.5vw; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#prevButton > img {
  /* margin-left: -1.181vw; */
  width: 2.778vw;
  height: 5.556vw;
  margin-left: 0.5vw;
}

#nextButton > img {
  /* margin-left: 0.819vw; */
  width: 2.778vw;
  height: 5.556vw;
  margin-right: 0.5vw;
}
.r-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 6.181vw;
  height: 34.914vw;
}
.f-column {
  display: flex;
  align-items: center;
  width: 6.181vw;
  height: 34.914vw;
  justify-content: flex-end;
}
.m-column {
  width: 45.636vw;
  height: 34.914vw;
}
.m-column > img {
  width: 45.636vw;
  height: 34.914vw;
}

.arrow-number-4 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-number-5 {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-number-6 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrows-3-box {
  display: flex;
  justify-content: space-between;
  margin: 1.25vw 3.8vw 0 3.8vw;
}
.line-6 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-6;
}
.line-7 {
  width: 20vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-7;
}
.line-8 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-8;
}
.masked6 {
  position: absolute;
  background-color: #4200ff;
  width: 15.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.masked7 {
  position: absolute;
  background-color: #4200ff;
  width: 21.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.masked8 {
  position: absolute;
  background-color: #4200ff;
  width: 15.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-88;
}
.second-screen {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  /* height: 60.04vw; */
  padding: 0 1.25vw 1.25vw 1.25vw;
  box-sizing: border-box;
}
.logo-2 > svg {
  /* width: 15.6vw;
  height: 40vw; */
  width: 20.4vw;
  height: 52.0833vw;
}
.header-text2 {
  font-family: Joystix;
  color: white;
  font-size: 4vw;
  width: 35vw;
  margin-top: 1.5vw;
  margin-left: 3.5vw;
}
.paint-window-box {
  width: 52.4vw;
  height: 47.57vw;
  display: flex;
  flex-direction: column;
  margin-top: 1.5vw;
}
.window-box {
  display: flex;
}
.left-box {
  background-image: url(../images/Frame\ 2709.svg);
  height: 43.61vw;
  width: 3.84vw;
  margin: 0.5vw 0 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.right-box {
  /* background-image: url(../images/Frame\ 2710.svg);
  height: 44.1083vw;
  width: 3.8389vw;
  margin-top: 0.5vw;
  background-repeat: no-repeat;
  background-size: contain; */
  background-image: url(../images/Frame\ 2709.svg);
  height: 43.61vw;
  width: 3.84vw;
  margin-bottom: 0.5vw;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.paint-box {
  height: 39.47vw;
  width: 44.1vw;
}
.paint-skelet {
  height: 41.18vw;
  width: 44.03vw;

  background-image: url(../images/Group\ 2707.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.paint-window {
  display: flex;
  flex-direction: column;
  /* padding-left: 2.5vw; */
  box-sizing: border-box;
}
.arrow-number-7 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-number-8 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-number-9 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrows-5-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25vw;
  width: 52vw;
  padding: 0 1vw;
  box-sizing: border-box;
}

.line-10 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-10;
}
.line-11 {
  width: 20vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-11;
}
.line-12 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-12;
}
.masked10 {
  position: absolute;
  background-color: #4200ff;
  width: 12.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-101;
}

.masked11 {
  position: absolute;
  background-color: #4200ff;
  width: 21.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-111;
}
.masked12 {
  position: absolute;
  background-color: #4200ff;
  width: 12.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-121;
}
.arrow-number-07 {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.7vw;
  /* margin-left: 1vw; */
}
.masked07 {
  position: absolute;
  background-color: #4200ff;
  width: 44.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.line-07 {
  width: 25.07vw;
  height: 0.1vw;
  background-color: white;
  animation: 2s linear 0s normal none infinite running arrow-07;
}
.column-for-star-1 > svg {
  position: absolute;
  width: 1.7812vw;
  height: 1.7812vw;
}
.column-for-star-2 > svg {
  position: absolute;
  width: 1.7812vw;
  height: 1.7812vw;
}

.column-for-star-1 {
  height: 100%;
  width: 1.7812vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.column-for-star-2 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.star-1 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
}
.star-2 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
  animation-delay: 1s;
}
.star-3 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
  animation-delay: 2s;
}
.star-4 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
}
.star-5 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
  animation-delay: 1s;
}
.paused {
  animation-play-state: paused;
}

.paint-menu {
  /* padding-top: 8.4vw; */
  /* height: 41.18vw; */
  height: 49.22vw;
  padding-top: 9.9vw;
  box-sizing: border-box;
}
.menu-window {
  width: 18.33vw;
  height: 37vw;
  border: 0.07vw white solid;
}
.further2 {
  width: 18.33vw;
  height: 3.9vw;
  margin: 1.53vw 0 0 0;
  border: 0.07vw white solid;
  background-color: #4200ff;
}
.further2 > p {
  font-size: 1vw;
  font-family: Joystix;
  color: white;
  line-height: 1.2vw;
}
.dash-3 {
  position: relative;
  height: 0.3vw;
  margin: 1.53vw 0 0 0;
}
.dash-3 > img {
  position: absolute;

  width: 19vw;
  height: 0.3vw;
}
